.logo {
    width:100%;
} 
.customize {
    position:absolute;
    left:40%;
}
.date_range {
    cursor:pointer;
}
.login_logo {
    width:60%;
    margin-left:20%;
}


@media(min-width:760px){
    .logo {
        display:block;
    }
    .slogo{
        display:none;
    }
}
@media(max-width:761px) {
    .logo{
        display:none;
    }
    .slogo{
        display:block;
    }
}

.card-body{
    overflow-x:auto;
}